
.navbar{
    width: 100%;
    height: 65px;
    display: flex;
    padding: 0 50px;
    background: var(--main-blue-header);
}
.navbar nav{
    width: 100%;
    display: flex;
    padding: 0 5px;
}
.navigation{
    display: flex;
    align-items: center;
    gap: 15px;
    z-index: 999;
}
.navigation a{
    color: white;
    font-family: var(--text-small-straight);
    font-size: 14px;
}
.logo{
    display: flex;
    align-items: center;
    margin-right: 40px;
    font-size: 27px;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    color: white;
}
.logo span{
    color: #3ce83c;
    font-family: "Sassy fras", cursive;
    font-size: 30px;
    padding-bottom: 4px;
    font-weight: bold;
}
.stats-bar{
    margin-left: auto;
    display: flex;
    align-items: center;
    color: #3ce83c;
    font-size: 17px;
}
.stats-bar span{
    color: #3ce83c;
    margin-right: 2px;
}
.hamburger{
    display: none;
}





/* Responsive View */

@media screen and (max-width: 650px) {
    .navbar{
        padding: 0 15px;
    }
    .stats-bar{
        display: none;
    }
    .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hamburger{
        margin-left: auto;
    }
    .hamburger .line {
        width: 30px;
        margin: 2px 0;
        border: 2px solid black;
        border-radius: 10px;
    }

    .hamburger-active{
        background: red;
    }


    .navigation{
        position: absolute;
        background: var(--minor-blue-header);
        top: 65px;
        left: 0;
        width: 100%;
        height: 0;
        flex-direction: column;
        transition: height .4s;
        overflow: hidden;
        justify-content: center;
    }
    .navigation-active{
        height: 250px;
    }
    .navigation > *{
        margin: 7px 0;
        height: 25px;
        width: 100%;
        text-align: left;
        padding: 0 0 5px 25px;
        border-bottom: 1px solid gray;
    }
    .navigation > li:last-child{
        border-bottom: none;
    }

    .rotate-down{
        transform: rotateZ(-7deg);
    }
    .rotate-up{
        transform: rotateZ(7deg);
    }
}



















